<%= form_with(model: peek, local: true) do |form| %>
  <% if peek.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(peek.errors.count, "error") %> prohibited this peek from being saved:</h2>

      <ul>
      <% peek.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :task_id %>
    <%= form.number_field :task_id %>
  </div>

  <div class="field">
    <%= form.label :datafile_id %>
    <%= form.number_field :datafile_id %>
  </div>

  <div class="field">
    <%= form.label :peek_type %>
    <%= form.text_field :peek_type %>
  </div>

  <div class="field">
    <%= form.label :peek_text %>
    <%= form.text_area :peek_text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
