<!DOCTYPE html>
<html>
  <head>
    <title>Processor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Processor</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/tasks">Tasks <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/problems">Problems</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/peeks">Peeks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/nested_items">Nested Items</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/message_ins">Messages In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/message_outs">Messages Out</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
